### In this we are trying to make new features by importing from other files to improve our model

In [131]:
# import statements
import pandas as pd

In [132]:
# import the global weather data
global_weather = pd.read_csv('global_nasa_weather_data.csv')
# move the Unnamed: 0 Column
global_weather.drop(columns='Unnamed: 0', inplace=True)

In [133]:
# look at the data head
global_weather.head()

,date,country,country_code,lat,long,elevation,specific_humidity,surface_pressure,skin_temperature,dew_frost,...,windspeed10m,windspeed50m,wet_bulb_temp,temp_range,rel_humidity,clearness_index,clear_sky_insolation,all_sky_insolation,radiative_flux,precipitation
0,1981-01-01,Andorra,AD,1.5,42.5,1216.58,3.78,89.39,-1.60,-1.92,...,4.93,6.96,-1.91,6.50,98.04,-999.0,-999.0,-999.0,-999.0,4.51
1,1981-01-02,Andorra,AD,1.5,42.5,1216.58,3.34,89.28,-2.87,-3.47,...,4.28,5.81,-3.46,4.30,95.14,-999.0,-999.0,-999.0,-999.0,1.62
2,1981-01-03,Andorra,AD,1.5,42.5,1216.58,3.75,88.74,-2.06,-2.22,...,3.99,5.97,-2.21,5.73,99.22,-999.0,-999.0,-999.0,-999.0,0.32
3,1981-01-04,Andorra,AD,1.5,42.5,1216.58,4.88,88.18,1.89,1.48,...,6.77,9.83,1.48,4.46,97.88,-999.0,-999.0,-999.0,-999.0,3.75
4,1981-01-05,Andorra,AD,1.5,42.5,1216.58,3.13,88.68,-3.23,-4.37,...,5.18,7.13,-4.36,4.97,92.19,-999.0,-999.0,-999.0,-999.0,1.09

In [134]:
# importing the forest cover data to Fixed-Width Text File to first clean it up
forest = pd.read_csv('ForestCover/Forest Area/API_AG.LND.FRST.K2_DS2_en_csv_v2_1927168.csv', skiprows=3)
# forest.drop(index=0, inplace=True)
forest.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,4.200000,4.200000,4.200000,4.2,4.200000,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,13500.000000,13500.000000,13500.000000,13500.0,13500.000000,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,582303.984375,581056.015625,579808.007812,578560.0,577311.992188,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,7743.800049,7734.199829,7724.600220,7715.0,7705.399780,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,160.000000,160.000000,160.000000,160.0,160.000000,NaN,NaN,NaN,NaN,NaN

In [135]:
forest.columns
condition = ['Country Name', 'Country Code',  '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
forest = forest[condition]
forest

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,...,4.200000,4.200000,4.200000,4.200000,4.2,4.200000,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,...,13500.000000,13500.000000,13500.000000,13500.000000,13500.0,13500.000000,NaN,NaN,NaN,NaN
2,Angola,AGO,597280.000000,596031.992188,594783.984375,593536.015625,592288.007812,591040.000000,589791.992188,588543.984375,...,583551.992188,582303.984375,581056.015625,579808.007812,578560.0,577311.992188,NaN,NaN,NaN,NaN
3,Albania,ALB,7692.999878,7719.199829,7745.399780,7771.599731,7797.800293,7824.000244,7811.799927,7799.600220,...,7753.400269,7743.800049,7734.199829,7724.600220,7715.0,7705.399780,NaN,NaN,NaN,NaN
4,Andorra,AND,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,...,160.000000,160.000000,160.000000,160.000000,160.0,160.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,...,5490.000000,5490.000000,5490.000000,5490.000000,5490.0,5490.000000,NaN,NaN,NaN,NaN
261,South Africa,ZAF,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,...,92410.000000,92410.000000,92410.000000,92410.000000,92410.0,92410.000000,NaN,NaN,NaN,NaN
262,Zambia,ZMB,511340.000000,509673.984375,508008.007812,506341.992188,504676.015625,503010.000000,501343.984375,499678.007812,...,493013.984375,491348.007812,489681.992188,488016.015625,486350.0,484683.984375,NaN,NaN,NaN,NaN
263,Zimbabwe,ZWE,188940.000000,185670.000000,182400.000000,179130.000000,175860.000000,172590.000000,169320.000000,166050.000000,...,153115.996094,149992.001953,146867.998047,143744.003906,140620.0,137495.996094,NaN,NaN,NaN,NaN

In [136]:

# Importing three digit country code against two digit
code = pd.read_csv('Country_Codes.csv')
code.columns = ['Country Code', 'country_code']
forest
forest = pd.merge(forest, code, on='Country Code')

In [141]:
# forest
# forest[forest['Country Name'] == 'Anguilla']
forest[forest['Country Name'].str.startswith('Ang')]

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,country_code
2,Angola,AGO,597280.0,596031.992188,594783.984375,593536.015625,592288.007812,591040.0,589791.992188,588543.984375,...,582303.984375,581056.015625,579808.007812,578560.0,577311.992188,NaN,NaN,NaN,NaN,AO

In [107]:
# displaying the null values of all the dataframe
forest.isnull().sum()

Country Name      0
Country Code      0
2000              7
2001              7
2002              7
2003              7
2004              7
2005              7
2006              7
2007              7
2008              7
2009              7
2010              7
2011              5
2012              5
2013              5
2014              5
2015              5
2016              6
2017            215
2018            215
2019            215
2020            215
country_code      1
dtype: int64

In [108]:
# setting index of the data as columns and removing unnecessary columns
forest = forest.set_index('country_code')
forest.drop(columns=['Country Code', 'Country Name'], inplace=True)
forest

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
country_code,,,,,,,,,,,,,,,,,,,,,
AW,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,...,4.200000,4.200000,4.200000,4.200000,4.2,4.200000,NaN,NaN,NaN,NaN
AF,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,...,13500.000000,13500.000000,13500.000000,13500.000000,13500.0,13500.000000,NaN,NaN,NaN,NaN
AO,597280.000000,596031.992188,594783.984375,593536.015625,592288.007812,591040.000000,589791.992188,588543.984375,587296.015625,586048.007812,...,583551.992188,582303.984375,581056.015625,579808.007812,578560.0,577311.992188,NaN,NaN,NaN,NaN
AL,7692.999878,7719.199829,7745.399780,7771.599731,7797.800293,7824.000244,7811.799927,7799.600220,7787.399902,7775.200195,...,7753.400269,7743.800049,7734.199829,7724.600220,7715.0,7705.399780,NaN,NaN,NaN,NaN
AD,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,...,160.000000,160.000000,160.000000,160.000000,160.0,160.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WS,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,...,1710.000000,1710.000000,1710.000000,1710.000000,1710.0,1710.000000,NaN,NaN,NaN,NaN
YE,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,...,5490.000000,5490.000000,5490.000000,5490.000000,5490.0,5490.000000,NaN,NaN,NaN,NaN
ZA,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,...,92410.000000,92410.000000,92410.000000,92410.000000,92410.0,92410.000000,NaN,NaN,NaN,NaN
ZM,511340.000000,509673.984375,508008.007812,506341.992188,504676.015625,503010.000000,501343.984375,499678.007812,498011.992188,496346.015625,...,493013.984375,491348.007812,489681.992188,488016.015625,486350.0,484683.984375,NaN,NaN,NaN,NaN
ZW,188940.000000,185670.000000,182400.000000,179130.000000,175860.000000,172590.000000,169320.000000,166050.000000,162780.000000,159510.000000,...,153115.996094,149992.001953,146867.998047,143744.003906,140620.0,137495.996094,NaN,NaN,NaN,NaN

In [109]:
# drop rows with all NaN values
forest.dropna(axis=0, how='all', inplace=True)
forest
forest.isnull().sum()

2000      2
2001      2
2002      2
2003      2
2004      2
2005      2
2006      2
2007      2
2008      2
2009      2
2010      2
2011      0
2012      0
2013      0
2014      0
2015      0
2016      1
2017    210
2018    210
2019    210
2020    210
dtype: int64

In [110]:
# Extrapolation of data for 2017-2020 using the historical growth or decrese in forest cover using 2015=2016 data

# computing the forest cover increase/descrese from previous year first
forest['extrapolation_factor'] = (forest['2016']/forest['2015']) -1
forest['2017'] = forest['2016']*(1+forest['extrapolation_factor'])
forest['2018'] = forest['2017']*(1+forest['extrapolation_factor'])
forest['2019'] = forest['2018']*(1+forest['extrapolation_factor'])
forest['2020'] = forest['2019']*(1+forest['extrapolation_factor'])
forest.drop(columns='extrapolation_factor', inplace=True)
forest.shape

(210, 21)

In [111]:
# check the number of null values
condition = forest.isnull().any(axis=1)
forest[condition]

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
country_code,,,,,,,,,,,,,,,,,,,,,
GI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
MF,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,...,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,NaN,NaN,NaN
NR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
QA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
SD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,199075.996094,197331.796875,195587.695312,193843.496094,192099.394531,190355.292969,188627.026387,186914.451018,185217.424399,183535.80536
SM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
SS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71570.000000,71570.000000,71570.000000,71570.000000,71570.000000,71570.000000,71570.000000,71570.000000,71570.000000,71570.00000

In [112]:
forest

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
country_code,,,,,,,,,,,,,,,,,,,,,
AW,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,4.200000,...,4.200000,4.200000,4.200000,4.200000,4.2,4.200000,4.200000,4.200000,4.200000,4.200000
AF,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000,...,13500.000000,13500.000000,13500.000000,13500.000000,13500.0,13500.000000,13500.000000,13500.000000,13500.000000,13500.000000
AO,597280.000000,596031.992188,594783.984375,593536.015625,592288.007812,591040.000000,589791.992188,588543.984375,587296.015625,586048.007812,...,583551.992188,582303.984375,581056.015625,579808.007812,578560.0,577311.992188,576066.676444,574824.046963,573584.097949,572346.823621
AL,7692.999878,7719.199829,7745.399780,7771.599731,7797.800293,7824.000244,7811.799927,7799.600220,7787.399902,7775.200195,...,7753.400269,7743.800049,7734.199829,7724.600220,7715.0,7705.399780,7695.811507,7686.235164,7676.670738,7667.118214
AD,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,...,160.000000,160.000000,160.000000,160.000000,160.0,160.000000,160.000000,160.000000,160.000000,160.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WS,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000,...,1710.000000,1710.000000,1710.000000,1710.000000,1710.0,1710.000000,1710.000000,1710.000000,1710.000000,1710.000000
YE,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000,...,5490.000000,5490.000000,5490.000000,5490.000000,5490.0,5490.000000,5490.000000,5490.000000,5490.000000,5490.000000
ZA,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000,...,92410.000000,92410.000000,92410.000000,92410.000000,92410.0,92410.000000,92410.000000,92410.000000,92410.000000,92410.000000
ZM,511340.000000,509673.984375,508008.007812,506341.992188,504676.015625,503010.000000,501343.984375,499678.007812,498011.992188,496346.015625,...,493013.984375,491348.007812,489681.992188,488016.015625,486350.0,484683.984375,483023.675768,481369.054628,479720.101475,478076.796890
ZW,188940.000000,185670.000000,182400.000000,179130.000000,175860.000000,172590.000000,169320.000000,166050.000000,162780.000000,159510.000000,...,153115.996094,149992.001953,146867.998047,143744.003906,140620.0,137495.996094,134441.394836,131454.654382,128534.267141,125678.759016

In [113]:


# Fill NaN with values using backfill or forward fill
forest.fillna(axis=1, method='ffill', inplace=True)
forest.fillna(axis=1, method='backfill', inplace=True)
forest[condition]
# check if there is any nulll values now
forest.isnull().sum()

2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
dtype: int64

#### Investigating the variation in the change of forest cover of various countries.

In [114]:
# finding the information for forest to see if it can be transposed easily
condition = forest['2000'].isnull()
forest[condition]
forest.info()

<class 'pandas.core.frame.DataFrame'>
Index: 210 entries, AW to ZW
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2000    210 non-null    float64
 1   2001    210 non-null    float64
 2   2002    210 non-null    float64
 3   2003    210 non-null    float64
 4   2004    210 non-null    float64
 5   2005    210 non-null    float64
 6   2006    210 non-null    float64
 7   2007    210 non-null    float64
 8   2008    210 non-null    float64
 9   2009    210 non-null    float64
 10  2010    210 non-null    float64
 11  2011    210 non-null    float64
 12  2012    210 non-null    float64
 13  2013    210 non-null    float64
 14  2014    210 non-null    float64
 15  2015    210 non-null    float64
 16  2016    210 non-null    float64
 17  2017    210 non-null    float64
 18  2018    210 non-null    float64
 19  2019    210 non-null    float64
 20  2020    210 non-null    float64
dtypes: float64(21)
memory usage: 36.1+ KB

In [115]:
# # finding out the variation in the forest areas of various countries
# forest_T = forest.T
# forest_T.drop(columns=['World'], inplace=True)
# #assigning the describe to a dataframe
# forest_T_describe = forest_T.describe()
# # finding the stdev of the standard deviation of the forest datas
# forest_T_describe.iloc[2].describe()

#### Investigating the variation in the change of forest cover of various countries.

In [119]:
#making function to make a DataFrame to merge easily with precipitation dataset
def data_by_year(year1, year2):
    Data_2001 = pd.DataFrame(forest[year1])
    Data_2001.columns = ['Forest_Cover(sq KMs)']
    Data_2001 = Data_2001.reset_index()
    Data_2001['year'] = year1
    Data_2001['country_year'] = Data_2001['country_code'] +'_' + Data_2001['year']
    Data_2001 = Data_2001[['country_year', 'Forest_Cover(sq KMs)']]
    Data_2001[Data_2001.isna().any(axis=1)]
    Data_2001.dropna(inplace=True)
    # display(Data_2001)

    # next year
    Data_2002 = pd.DataFrame(forest[year2])
    Data_2002.columns = ['Forest_Cover(sq KMs)']
    Data_2002 = Data_2002.reset_index()
    Data_2002['year'] = year2
    Data_2002['country_year'] = Data_2002['country_code'] +'_' + Data_2002['year']
    Data_2002 = Data_2002[['country_year', 'Forest_Cover(sq KMs)']]
    Data_2002[Data_2002.isna().any(axis=1)]
    Data_2002.dropna(inplace=True)
    # display(Data_2002)
    return (pd.concat([Data_2001, Data_2002]))

test1= data_by_year('2001','2002')
test2= data_by_year('2003','2004')
test3= data_by_year('2005','2006')
test4= data_by_year('2007','2008')
test5= data_by_year('2009','2010')
test6= data_by_year('2011','2012')
test7= data_by_year('2013','2014')
test8= data_by_year('2015','2016')
test9= data_by_year('2017','2018')
test10= data_by_year('2019','2020')

final = pd.concat([test1, test2, test3, test4, test5, test6, test7, test8, test9, test10])

final.to_csv('ForestCover.csv')

In [118]:
final

    country_year  Forest_Cover(sq KMs)
0        AW_2001              4.200000
1        AF_2001          13500.000000
2        AO_2001         596031.992188
3        AL_2001           7719.199829
4        AD_2001            160.000000
..           ...                   ...
205      WS_2020           1710.000000
206      YE_2020           5490.000000
207      ZA_2020          92410.000000
208      ZM_2020         478076.796890
209      ZW_2020         125678.759016

[4180 rows x 2 columns]